body {
	border: 10px white solid;
	background-color:white;
	margin-left: 10%;
	margin-right: 10%;
	background-image:url(background.jpg);
}
div {
	background-color:#A8F0F0;
}
#Main{
	text-align:right;
}
#header {
	margin-top: 10px;
	font-size:14pt;
}
#paragraph1 {
	border: 4px #C2E9E9 solid;
	background-color:#E8FBFB;
	margin-top: 10px;
	clear: right;
	overflow: hidden;
}
#paragraph2 {
	border: 4px #C2E9E9 solid;
	background-color:#E8FBFB;
	margin-top: 10px;
	overflow: hidden;
	clear: right;
}
span {
	border-bottom: 2px blue dashed;
}
.paragraphs {
	margin-top: 10px;
}
.image {
	float: right;
}
.innerContent {
	clear: both;
	overflow: hidden;
}